@define-color active white;

* {
    border: none;
    font-size: 16px;
    font-family: "Atkinson Hyperlegible Mono,Symbols Nerd Font Mono" ;
    min-height: 10px;
    color: @active;
    /* color: black; */
}

window#waybar {
  background: transparent;
  background: rgba(0, 0, 0, 0.9);
}

tooltip {
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.9);
  color: @active;
}

tooltip label{
  color: @active;
}

#custom-logo {
  padding: 0 10px;
}

.modules-right {
  /* border: 1px solid lighter(@active); */
  /* border: 1px solid @active; */
  border-radius: 15px;
  padding: 0px 5px;
  margin: 2px 5px;
  background: rgba(000, 000, 000, 0.8);
}

.modules-center {
  /* border: 1px solid lighter(@active); */
  /* border: 1px solid @active; */
  padding: 0 15px;
  margin: 2px 0px;
  border-radius: 15px 15px 15px 15px;
  background: rgba(000, 000, 000, 0.8);
}

.modules-left {
  /* border: 1px solid lighter(@active); */
  /* border: 1px solid @active; */
  padding: 0px 5px;
  border-radius: 15px;
  margin: 2px 5px;
  background: rgba(000, 000, 000, 0.8);
}

#battery,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#custom-updates,
#custom-pacman,
#bluetooth,
#pulseaudio,
#custom-hotspot,
#pulseaudio.mic,
#pulseaudio.bluetooth,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#window,
/* #workspaces, */
#clock {
  padding: 0 5px;
}

#tray menu {
  background: #000000;
  color: #ffffff;
}

#workspaces button {
  border-radius: 0px;
  min-width: 10px;
}

#workspaces button.active {
    border-bottom: solid 2px @active;
}

/* #clock{ */
  /* color: #5fd1fa; */
/* } */

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

