### Nix ###
result*

### Elisp ###
*.elc
*~
*.~undo-tree

*.gz
*.log

### Misc ###
# removes doom-emacs TODOs from my todo list in emacs :)
pkgs/doom-emacs
modules/weechat/config/xfer
modules/weechat/config/logs
modules/weechat/config/urlserver_list.txt
modules/weechat/config/relay.conf
hosts/scadrial/modules/borg/config.json
