### Nix ###
result*
*.qcow2

### Elisp ###
*.elc
*~
*.~undo-tree

*.gz
*.log

### Misc ###
users/*/modules/weechat/config/xfer
users/*/modules/weechat/config/logs
users/*/modules/weechat/config/urlserver_list.txt
users/*/modules/weechat/config/relay.conf
hosts/scadrial/modules/borg/config.json
users/*/modules/kakoune/config/plugins
users/*/modules/kakoune/config/colors
